<h1>Mandalas#new</h1>
<p>Find me in app/views/mandalas/new.html.erb</p>

<div class="container-fluid">
	<div class="row text-center">
		<h1>マンダラチャートを作成しよう！</h1>
		<p>まずは達成したい目標を中心のマスに入力してください！</p>
	</div>
		<div class="row text-center">
			<div class="squares">
				<div class="box">
					<textarea></textarea>
				</div>
			</div>
			<div class="squares">
				<div class="box"></div>
			</div>
			<div class="squares">
				<div class="box"></div>
			</div>
		</div>
		<div class="row text-center">
			<div class="squares">
				<div class="box"></div>
			</div>
			<div class="squares">
				<div class="box"></div>
			</div>
			<div class="squares">
				<div class="box"></div>
			</div>
		</div>
		<div class="row text-center">
			<div class="squares">
				<div class="box"></div>
			</div>
			<div class="squares">
				<div class="box"></div>
			</div>
			<div class="squares">
				<div class="box"></div>
			</div>
		</div>
</div>
