/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro",
				 メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background: #34495e;
}

*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Icomoon.com */
.gn-menu-main,
.gn-menu-main ul {
	margin: 0;
	padding: 0;
	background: white;
	color: #5f6f81;
	list-style: none;
	text-transform: none;
	font-weight: 300;
	line-height: 60px;
}
.gn-menu-main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	font-size: 13px;
	z-index: 999;
}
.gn-menu-main a {
	display: block;
	height: 100%;
	color: #5f6f81;
	text-decoration: none;
	cursor: pointer;
}
.gn-menu-main a:hover {
	background: #5f6f81;
	color: white;
}
.gn-menu-main > li {
	display: block;
	float: left;
	height: 100%;
	border-right: 1px solid #c6d0da;
	text-align: center;
}

/* icon-only trigger (menu item) */
.gn-menu-main li.gn-trigger {
	position: relative;
	width: 60px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.gn-menu-main > li:last-child {
	float: right;
	border-right: none;
	border-left: 1px solid #c6d0da;
}
.gn-menu-main > li > a {
	padding: 0 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}
.gn-menu-main:after {
	display: table;
	clear: both;
	content: "";
}
.gn-menu-wrapper {
	position: fixed;
	top: 60px;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 60px;
	border-top: 1px solid #c6d0da;
	background: white;
	-webkit-transform: translateX(-60px);
	-moz-transform: translateX(-60px);
	transform: translateX(-60px);
	-webkit-transition: -webkit-transform 0.3s, width 0.3s;
	-moz-transition: -moz-transform 0.3s, width 0.3s;
	transition: transform 0.3s, width 0.3s;
}
.gn-scroller {
	position: absolute;
	overflow-y: scroll;
	width: 370px;
	height: 100%;
}
.gn-menu {
	border-bottom: 1px solid #c6d0da;
	text-align: left;
	font-size: 18px;
}
.gn-menu-main li a,
.gn-menu-main li a::after {
	-webkit-transition: all .3s;
	transition: all .3s;
}
.gn-menu li:not(:first-child),
.gn-menu li li {
	box-shadow: inset 0 1px #c6d0da
}
.gn-submenu li {
	overflow: hidden;
	height: 0;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}
.gn-submenu li a {
	color: #c1c9d1
}

/* アイコン - ようこそゲストさん */
.codrops-icon:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	margin: 0 6px;
	content: '\f007';
}

/* アイコン - メニュー */
.gn-icon::before {
	display: inline-block;
	width: 60px;
	text-align: center;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}
.gn-icon-login::before {
	content: '\f2f6';
}
.gn-icon-logout::before {
	content: '\f2f5'
}
.gn-icon-user-regist::before {
	content: '\f234';
}
.gn-icon-mypage::before {
	content: '\f007'
}

/* if an icon anchor has a span, hide the span */
.gn-icon span {
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}
.gn-icon-menu::before {
	margin-left: -15px;
	vertical-align: -2px;
	width: 30px;
	height: 3px;
	background: #5f6f81;
	box-shadow: 0 3px white, 0 -6px #5f6f81, 0 -9px white, 0 -12px #5f6f81;
	content: '';
}
.gn-icon-menu:hover::before,
.gn-icon-menu.gn-selected:hover::before {
	background: white;
	box-shadow: 0 3px #5f6f81, 0 -6px white, 0 -9px #5f6f81, 0 -12px white;
}
.gn-icon-menu.gn-selected::before {
	background: #5f6f81;
	box-shadow: 0 3px white, 0 -6px #5f6f81, 0 -9px white, 0 -12px #5f6f81;
}

/* styles for opening menu */
.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
.gn-menu-wrapper.gn-open-all {
	width: 340px
}
.gn-menu-wrapper.gn-open-all .gn-submenu li {
	height: 60px
}
@media screen and (max-width: 422px) {
	.gn-menu-wrapper.gn-open-all {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
		width: 100%;
	}
	.gn-menu-wrapper.gn-open-all .gn-scroller {
		width: 130%
	}
}

/* ボタン */
.button {
	display: inline-block;
	margin-bottom: 5px;
	width: 200px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
	cursor: pointer;
}
@media screen and (max-width: 740px) {
	.button {
		width: 100%;
	}
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
}

/* ボタン - 青 */
.button-blue {
	background-color: #34495e;
	color: #fff;
}
.button:focus,
.button-blue:hover {
	color: #fff;
	text-decoration: none;
	background-color: #4573a1;
}

/* 右スペース */
.margin-right {
	margin-right: 100px;
}

/* 入力フォーム */
.cp_iptxt {
	position: relative;
	margin: 35px 20%;
}
.cp_iptxt input[type='text'],
.cp_iptxt input[type='email'],
.cp_iptxt input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
}
.cp_iptxt input[type='text']:focus,
.cp_iptxt input[type='email']:focus,
.cp_iptxt input[type='password']:focus {
	outline: none;
}
.cp_iptxt input[type='text']:focus::after,
.cp_iptxt input[type='email']:focus::after,
.cp_iptxt input[type='password']:focus::after {
	outline: none;
}
.cp_iptxt i {
	position: absolute;
	top: 0;
	left: 0;
	padding: 9px 5px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_iptxt::after {
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -1px;
	content: '';
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #337ab7;
}


/* チェックボックス */
.checkbox01-input{
	display: none;
}
.checkbox01-parts{
	padding-left: 20px;
	position:relative;
	margin-right: 20px;
}
.checkbox01-parts::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #999;
	border-radius: 4px;
}
.checkbox01-input:checked + .checkbox01-parts{
	color: #337ab7;
}
.checkbox01-input:checked + .checkbox01-parts::after{
	content: "";
	display: block;
	position: absolute;
	top: -5px;
	left: 5px;
	width: 7px;
	height: 14px;
	transform: rotate(40deg);
	border-bottom: 3px solid #337ab7;
	border-right: 3px solid #337ab7;
}

/* モーダル背景を設定 */
#modal-overlay {
	z-index:1500;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}
