// Place all the styles related to the mandalas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* TOPページ 画面スクロール用 */
.scroll-field {
	position: relative;
	scroll-snap-type: y mandatory;
	height: 100vh;
}
.area {
	scroll-snap-align: start;
	height: 100vh;
	width: 100%;
}

/* 各要素に画像追加 */
.content-1 {
	background-image: url('/images/dream.jpg');
	background-size: cover;
}
.content-2 {
	position: relative;
	background-image: url('/images/checklist.jpg');
	background-size: cover;
}
.content-2::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 200%;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
}
.content-3 {
	background-image: url('/images/goals.jpg');
	background-size: cover;
}
.content-text {
	padding-top: 23rem;
	color: #ffffff;
	position: relative;
	z-index: 1;
}
@media screen and (max-width: 740px) {
	.content-text {
		padding-top: 13rem;
	}
}

/* ボタンレイアウト調整 */
.content-btn {
	padding-top: 8rem;
	text-align: center;
}


/* 会員登録・ログインフォーム用 */
#modal1,
#modal2 {
	position: fixed;
	width:40%;
	margin:1.5em auto 0;
	padding:1rem 1rem;
	background:#fff;
	z-index:2000;
	color: #34495e;
}
#modal_close {
	font-size: 2rem;
	cursor: pointer;
}
.modal-container .check-box-child {
	width: 60%;
	margin: 10rem auto 0 auto;
}
.submit-btn {
	margin-top: 2rem;
	width: 60%;
}
.submit_field {
	padding-bottom: 4rem;
}

/* マンダラチャート用 */
.container-mandalas {
	margin: 3rem 0 1rem;
	width: 100%;
}
.squares {
	position: relative;
	width: 15%;
	height: auto;
	display: inline-block;
	color: #5f6f81;
	cursor: pointer;
}
.squares,
.squares::before,
.squares::after {
	-webkit-transition: all .3s;
	transition: all .3s;
}
.squares-disabled {
	color: #fff;
	border: 1px solid;
	cursor: default;
}
.squares-white {
	background-color: #fff;
}
.squares-gray {
	background-color: #f1f5fde0;
}
.squares-white:hover,
.squares-gray:hover {
	background-color: #ffffff8f;
}
@media screen and (max-width: 1025px) {
	.squares {
		width: 20%;
	}
}
@media screen and (max-width: 740px) {
	.squares {
		width: 30%;
	}
}
.squares:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.box-header {
	height: 20%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #5f6f81;
}
.squares-disabled .box-header {
	border-bottom: 0;
}
.box-header p {
	margin: 0 auto;
}
.box-body {
	height: 80%;
	display: flex;
	align-items: center;
}
.box-body p {
	width: 100%;
	word-wrap: break-word;
	margin: 0;
}

/* マンダラチャート 入力フォーム用*/
#input-modal {
	color: #34495e;
	position: fixed;
	width: 40%;
	height: 40%;
	margin: 1.5em auto 0;
	padding: 1rem 1rem;
	background:#ffffff;
	z-index: 2000;
	display: none;
}

/* マンダラチャート作成画面タイトル */
.container-main > header {
	margin: 0 auto;
	padding: 8em 2em 3em;
	padding-left: 48rem;
	background: rgba(0,0,0,0.1);
}
.container-main > header a {
	color: #566473;
	text-decoration: none;
	outline: none;
}
.container-main > header a:hover {
	color: #4f7bab;
}
.container-main > header h1 {
	font-size: 2.6em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}
.container-main > header span {
	display: block;
	font-size: 50%;
	color: #ffffff8f;
	padding: 0 0 0.6em 0.1em;
}
@media screen and (max-width: 1025px) {
	.container-main > header {
		margin: 0 auto;
		padding: 120px 50px;
		font-size: 70%;
		text-align: right;
	}
}